<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#68A357">
  <meta name="description" content="Free restaurant info catalogue for you">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="app.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>MakanCuy</title>
</head>

<body>
  <a href="#mainContent" class="skip-to-content">Skip To Main Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>MakanCuy <img class="logo" src="./favicon.png" alt=""></h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/restaurant-list">Restaurant List</a></li>
        <li><a href="#/favourite">Favourite</a></li>
        <li><a href="https://arifian853.vercel.app" target="_blank" rel="noreferrer">About Me</a></li>
        <li><a href="https://github.com/arifian853" target="_blank" rel="noreferrer">GitHub </a></li>
      </ul>
    </nav>
  </header>
  <!-- <div class="hero lazyload">
    <div class="filter">
      <div class="greeting">
        <h1>Temukan Restoran Terbaik !</h1>
        <p>Dengan informasi akurat dan lengkap serta terpercaya !</p>
      </div>
      <div class="discover">
        <a href="#mainContent"><button>Discover</button></a>
      </div>
    </div>
  </div> -->
  <main tabindex="0" id="mainContent">

  </main>

  <footer>
    <p>All data obtained from <br> <a href='https://restaurant-api.dicoding.dev/' target="_blank"
        rel="noreferrer">Dicoding Restaurant API</a> <br />
    <p>Logo and favicon are from <br> <a href="https://www.flaticon.com/free-icons/fork" target="_blank"
        rel="noreferrer">Freepik on Flaticon</a></p> <br />
    <hr /> <br />
    <p>Copyright Ⓒ MakanCuy. 2022. By <br> <a href="https://github.com/arifian853">Arifian Saputra</a></p>
    </p>
  </footer>
</body>

</html>